    <section>
      <div class="flex flex-col items-center justify-center px-6 py-10 mx-auto md:h-screen lg:py-0">

          <div class="mx-auto max-w-sm p-11 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8">
            <form class="space-y-6" action="#">
                <h5 class="text-xl font-medium text-gray-900 ">Sign up to Hooyberghs bemalings software.</h5>
                <div class="formGroup">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Your email</label>
                    <input type="email" name="email" #userEmail required id="email" class="formControl bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Email Address">
                </div>
                <div class="formGroup">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Your password</label>
                    <input type="password" name="password" id="password" #userPwd placeholder="••••••••" class="formControl bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required>
                </div>
                <div class="formGroup">
                  <button type="submit" (click)="authService.SignUp(userEmail.value, userPwd.value)"  class="w-full bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded text-center">Sign up</button>
                </div>
                <div class="text-sm font-medium text-gray-500">
                    Already Registered? <a href="#" routerLink="/" class="text-blue-700 hover:underline">Log In</a>
                </div>
            </form>
          </div>

      </div>
    </section>
