<section class="h-full gradient-form md:h-full mt-20 flex justify-center">
  <div class="block rounded-lg">
    <div class="lg:flex lg:flex-wrap g-0">
      <div class="px-4 md:px-0">
        <div class="md:mx-6">
          <div class="gradient-form">
            <div class="flex justify-between mx-16 mb-10">
              <div *ngIf="pump; else notassigned" class="w-full mx-5 vw">
                <apx-chart [series]="series" [chart]="chart" [title]="title" [xaxis]="xaxis">
                </apx-chart>
                <div *ngIf="pump.oldPumpValues.length > 1">
                  <div class="flex justify-between pb-4">
                    <div class="flex flex-col items-center">
                      <label class="block text-gray-700 text-sm font-bold mb-2"
                        >Latest data reading:</label
                      >
                      <span>{{
                        pump.oldPumpValues[pump.oldPumpValues.length - 1].date
                          | date : "dd/MM/yyyy hhumm"
                      }}</span>
                    </div>
                    <div class="flex justify-center">
                      <button
                        class="text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 px-5 py-2 focus:ring-blue-300 font-medium rounded-lg dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                      >
                        Check logs
                      </button>
                    </div>
                  </div>
                </div>
                <div *ngIf="pump.oldPumpValues.length < 1">
                  <div class="flex justify-between pb-4">
                    <div class="flex flex-col items-center">
                      <label class="block text-gray-700 text-sm font-bold mb-2"
                        >Latest data reading:</label
                      >
                      <span>No readings yet.</span>
                    </div>
                    <div class="flex justify-center">
                      <button
                        class="text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 px-5 py-2 focus:ring-blue-300 font-medium rounded-lg dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                      >
                        Check logs
                      </button>
                    </div>
                  </div>
                </div>

                <div *ngIf="pump.oldPumpValues.length > 1">
                  <div class="grid grid-cols-2 items-center mb-5">
                    <div>
                      <label
                        class="block text-gray-700 text-sm font-bold mb-2"
                        for="drainage"
                        >Current FlowRate (l/min)</label
                      >
                      <span
                        >{{
                          pump.oldPumpValues[pump.oldPumpValues.length - 1]
                            .flowRate
                        }}
                        l/min</span
                      >
                    </div>
                    <div>
                      <label
                        class="block text-gray-700 text-sm font-bold mb-2"
                        for="sensor"
                        >Current Electricy usage (A)</label
                      >
                      <span
                        >{{
                          pump.oldPumpValues[pump.oldPumpValues.length - 1]
                            .value
                        }}
                        Milliampere</span
                      >
                    </div>
                  </div>
                  <form action="#">
                    <div>
                      <label
                        class="relative inline-flex items-center cursor-pointer"
                      >
                        <input
                          type="checkbox"
                          class="sr-only peer"
                          name="inputValue"
                          [checked]="pump.inputValue"
                          (change)="updateInputValue()"
                        />
                        <div
                          class="w-14 h-7 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer bg-gray-300 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                        ></div>
                        <span class="ml-3 text-sm font-medium text-black-400"
                          >Pump Power On/Off Toggle</span
                        >
                      </label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <ng-template #notassigned
              ><h1 class="text-red-600">
                Error 404: This Pump Does Not Exist
              </h1></ng-template
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
