<div class="flex flex-col items-center justify-center h-screen">
  <div class="max-w-sm mx-auto mt-6 p-6 bg-white border border-gray-200 rounded-lg shadow">
    <div class="authBlock">
      <h3>Thank You for Registering</h3>
      <div class="formGroup" *ngIf="authService.userData as user">
        <br/>
        <p>
          We have sent a confirmation email to <strong>{{ user.email }}</strong
        >.
        </p>
        <br/>
        <p>
          Please check your email and click on the link to verfiy your email
          address.
        </p>
      </div>
      <br/>
      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button
          type="button"
          class="btn btnPrimary py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 "
          (click)="authService.SendVerificationMail()"
        >
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>
    </div>
    <div class="redirectToLogin">
      <button class="redirect" routerLink="/"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Go back to Sign in
      </button>
    </div>
  </div>
</div>
